/*
    FONDOS Y DEMÁS COMPONENTES
    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: normal 16px sans-serif;
}

.container2 {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

.txtRec {
  font-size: 24px;
  color: #007BFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 250px;
}

.txtRec::after {
  content: '';
  display: block;
  width: 1000px;
  height: 2px;
  background-color: #007BFF;
  margin-top: 10px;
}
/*
    BOTONES
    */

.BordeBotones {
  display: flex; /* Utilizamos flexbox para alinear elementos internos */
  align-items: center;
  width: auto;
  height: 35px;
  border-radius: 20px;
  background: rgba(80, 146, 185, 0.27);
  margin-top: 1px;
  padding-left: 50px; /* Agregamos un pequeño espacio a la izquierda para separar los botones del borde */
}

.BotonConImagen1 {
  display: flex;
  background-color: transparent;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 25px; /* Ajusta el margen izquierdo para separar los botones */
  align-items: center;
  align-content: center;
}

/* Para asegurarte de que la imagen se ajuste correctamente */
.BotonConImagen1 img {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
}

/*
    * LAYOUT RECURSOS
    */
.formRecursos {
  float: left;
  width: 1170px;
  height: 90px;
  background: #a5cff8;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 300px;
  min-height: 185vh;
  border-radius: 20px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.formRecursos .container.gallery-container {
  width: 1038px;
  height: 50px;
  flex-shrink: 0;
  background: #4c97c1;
  background-color: #fff;
  color: #35373a;
  min-height: 172vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  margin-left: 20px;
  
}

.formRecursos .tz-gallery {
  padding: 40px;
}

.formRecursos .tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery img {
  width: 33.33%; /* Cada imagen ocupa 33.33% del ancho total */
  object-fit: cover;
  float: left;
}

.formRecursos .tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.formRecursos .baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .formRecursos .container.gallery-container {
    border-radius: 0;
    float: left;
  }
}



/*
CONTAINER PARA SUBIR DOCUMENTOS*/

.container1 {
  display: block;
  margin-top: 200px;
  max-width: 800px;
  margin-left: 450px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container1 h1 {
  color: #333;
  font-size: 24px;
}

.container1 p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.container1 .boton-cargar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.container1 .boton-cargar:hover {
  background-color: #0056b3;
}

/*
BOTON PLUS
*/
.boton-plus {
  background-color: #8cb6e3; /* Color de fondo del botón */
  color: white; /* Color del icono */
  border: none; /* Sin borde */
  border-radius: 50%; /* Forma circular */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  position: fixed; /* Fija el botón en la posición deseada */
  bottom: 20px; /* Posición desde la parte inferior */
  right: 20px; /* Posición desde la derecha */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Sombra ligera */
  outline: none; /* Elimina el contorno del botón cuando se enfoca */
}

.boton-plus:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.boton-plus img{
  width: 20px;
  height: 20px;
}
