<body>
    <div>
        <section class="form-category">
            <form>
                <section class="container gallery-container">                
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Finka">
                                    <section class="BordeBotones ">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    </section>
                                    </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Bridge">
                                    <section class="BordeBotones ">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    </section>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Tunnel">
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    
                                    </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Coast">
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    
                                    </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Rails">
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    
                                    </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="MeGusta1.png">
                                    <img src="MeGusta1.png" alt="Traffic">
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="MeGusta1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Comentar1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Compartir1.png" width="50px"></button>
                                    <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="Guardar1.png" width="40px"> </button>
                                    
                                    </a>
                            </div>
                        </div>
                
                    </div>
            
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                    <script>
                        baguetteBox.run('.form-category .tz-gallery');
                    </script>
            </section>
            </form>
        </section>
        <section class="layout1"></section>
        <section class="layout2">
            <section class="layout3"></section>
        </section>
            
        <section class="gallery">
            <img class="image" src="imagen1.jpg" alt="Imagen 1">
            <img class="image" src="imagen2.jpg" alt="Imagen 2">
            <img class="image" src="imagen3.jpg" alt="Imagen 3">
        </section>
        
    </div>
    
</body>
