/*
    FONDOS Y DEMÁS COMPONENTES
    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: normal 16px sans-serif;
}

/*
    BOTONES
    */

.BordeBotones {
  display: flex; /* Utilizamos flexbox para alinear elementos internos */
  align-items: center;
  width: auto;
  height: 35px;
  border-radius: 20px;
  background: rgba(80, 146, 185, 0.27);
  margin-top: 1px;
  padding-left: 50px; /* Agregamos un pequeño espacio a la izquierda para separar los botones del borde */
}

.BotonConImagen1 {
  display: flex;
  background-color: transparent;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 25px; /* Ajusta el margen izquierdo para separar los botones */
  align-items: center;
  align-content: center;
}

/* Para asegurarte de que la imagen se ajuste correctamente */
.BotonConImagen1 img {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
}

/*
    * LAYOUT RECURSOS
    */
.formRecursos {
  float: left;
  width: 1170px;
  height: 90px;
  background: #a5cff8;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 300px;
  min-height: 185vh;
  border-radius: 20px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.formRecursos .container.gallery-container {
  width: 1038px;
  height: 50px;
  flex-shrink: 0;
  background: #4c97c1;
  background-color: #fff;
  color: #35373a;
  min-height: 172vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  margin-left: 20px;
}

.formRecursos .tz-gallery {
  padding: 40px;
}

.formRecursos .tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery img {
  width: 33.33%; /* Cada imagen ocupa 33.33% del ancho total */
  object-fit: cover;
  float: left;
}

.formRecursos .tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.formRecursos .baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .formRecursos .container.gallery-container {
    border-radius: 0;
    float: left;
  }
}

/* Estilos de la barra lateral vertical */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #2a3f54; /* Cambio de color de fondo */
  color: #fff; /* Texto en color blanco */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  transition: width 0.3s ease; /* Agregamos transición suave al cambiar el ancho */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Reducimos el espacio superior */
}

.sidebar li {
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Agregamos transición al cambiar el color de fondo al pasar el cursor */
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.sidebar img {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  height: 24px; /* Aumentamos el tamaño de los íconos */
  width: 24px; /* Aumentamos el tamaño de los íconos */
  margin-right: 10px;
}

/* Estilos del contenido principal */
.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease; /* Agregamos transición al abrir y cerrar la barra lateral */
}

/* Cambio de color al pasar el cursor por los elementos de la barra lateral */
.sidebar li:hover {
  background-color: #1e2c3d;
}

/* Estilos de la barra de navegación horizontal */
.navbar {
  background-color: #2a3f54; /* Cambio de color de fondo */
  color: #fff; /* Texto en color blanco */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.navbar img {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  height: 24px; /* Aumentamos el tamaño de los íconos */
  width: 24px; /* Aumentamos el tamaño de los íconos */
  margin-right: 10px;
}

.pagIni {
  margin-right: 1090px; /* Centramos el título en la barra */
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1; /* Hacemos que el título ocupe el espacio restante */
}

/* Cambio de color al pasar el cursor por los elementos de la barra de navegación */
.navbar li:hover {
  background-color: #1e2c3d;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2a3f54; /* Cambio de color de fondo */
  min-width: 160px;
  z-index: 1;
  border-top: 1px solid #3c526b; /* Agregamos un borde superior */
  top: 100%; /* Ajustamos la posición para que aparezca debajo del elemento padre */
  left: 0; /* Alineamos el menú a la izquierda */
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease; /* Agregamos transición al cambiar el color de fondo al pasar el cursor */
}

.dropdown-content a:hover {
  background-color: #1e2c3d; /* Cambio de color al pasar el cursor */
}

.dropdown:hover .dropdown-content {
  display: block;
}
