<body>
    
    <nav class="sidebar">
        <ul>
        <li><img src="https://cdn-icons-png.flaticon.com/128/1946/1946436.png"><a href="#"> Inicio</a></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/456/456212.png"><a href="#">  Perfil</a></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/566/566718.png"><a href="#"></a><a href="#">  Chat</a></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/18/18436.png"><a href="#"></a><a href="#">  Ayuda</a></li>
        </ul>
    </nav>
    <nav class="navbar">
        <ul>
            <h1 class="pagIni">ConnectEDU</h1>
            <li class="dropdown">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/20/20173.png"></a>
                <div class="dropdown-content">
                    <a href="#">Notificación 1</a>
                    <a href="#">Notificación 2</a>
                    <a href="#">Notificación 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2645/2645890.png"></a>
                <div class="dropdown-content">
                    <a href="#">Tarea pendiente</a>
                    <a href="#">En cola</a>
                    <a href="#">Correo</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/456/456212.png">Laura García</a>
                <div class="dropdown-content">
                    <a href="#">Perfil</a>
                    <a href="#">Bandeja de entrada</a>
                    <a href="#">Ajustes</a>
                    <a href="#">Cerrar sesión</a>
                </div>
            </li>
            
        </ul>
    </nav>

    
    <app-carousel></app-carousel>

        <section class="formRecursos">
            
                <section class="container gallery-container">                
                    <div class="tz-gallery">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://marketplace.canva.com/EAFI171fL0M/1/0/1003w/canva-portada-de-libro-de-novela-ilustrado-color-azul-aqua-PQeWaiiK0aA.jpg">
                                    <img src="https://marketplace.canva.com/EAFI171fL0M/1/0/1003w/canva-portada-de-libro-de-novela-ilustrado-color-azul-aqua-PQeWaiiK0aA.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://marketplace.canva.com/EAFGf9027eM/1/0/1003w/canva-portada-libro-infantil-bosque-ilustrado-azul-P3McSjgOm1I.jpg">
                                    <img src="https://marketplace.canva.com/EAFGf9027eM/1/0/1003w/canva-portada-libro-infantil-bosque-ilustrado-azul-P3McSjgOm1I.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://marketplace.canva.com/EAE8SCCNlvo/1/0/1003w/canva-verde-y-rosa-ciencia-ficci%C3%B3n-portada-de-libro-SSKxUZUBOJg.jpg">
                                    <img src="https://marketplace.canva.com/EAE8SCCNlvo/1/0/1003w/canva-verde-y-rosa-ciencia-ficci%C3%B3n-portada-de-libro-SSKxUZUBOJg.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://i.pinimg.com/736x/ab/7a/1d/ab7a1d8d8ac9e4bcf501689ad50dda9d.jpg">
                                    <img src="https://i.pinimg.com/736x/ab/7a/1d/ab7a1d8d8ac9e4bcf501689ad50dda9d.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://wl-genial.cf.tsp.li/resize/728x/jpg/ba3/e72/337d485c37af5cf13264ff037c.jpg">
                                    <img src="https://wl-genial.cf.tsp.li/resize/728x/jpg/ba3/e72/337d485c37af5cf13264ff037c.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                    </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="https://imagessl2.casadellibro.com/a/l/t0/52/9788499086552.jpg">
                                    <img src="https://imagessl2.casadellibro.com/a/l/t0/52/9788499086552.jpg">
                                    <section class="BordeBotones">
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/9710/9710517.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/8246/8246378.png" ></button>
                                        <button class="BotonConImagen1" type="submit" onclick="guardarInformacionCategorias()"><img src="https://cdn-icons-png.flaticon.com/128/11376/11376227.png" > </button>
                                    </section>
                                    </a>
                            </div>
                        </div>
                
                    </div>
            
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                    <script>
                        baguetteBox.run('.form-category .tz-gallery');
                    </script>

            </section>
        </section>
            


    
</body>
